{% if page.hunt == "An All-American Puzzle Hunt" %}
<div class="flag">
    <div class="blue-side">
        <image src="{{ '/hunts/an-all-american-puzzle-hunt/stars.svg' | relative_url }}"/>
    </div>
    <div class="red-stripe"></div>
    <div class="white-stripe"><div>{{ page.hunt }}</div></div>
    <div class="red-stripe"></div>
</div>
{% endif %}
{% if page.hunt == "Fractallia" %}
    {% if page.place and page.page-type == "hunt-puzzle" or page.page-type == "hunt-solution" %}
    <div class="banner">
        {% assign banner-name = page.place | slugify %}
        <image style="top: {{ page.banner-offset }};"
            src="{{ banner-name | prepend: '/hunts/fractallia/' | append: '.png' | relative_url }}"/>
    </div>
    {% endif %}
{% endif %}