[hunt="Fractallia"] {
  .banner {
    @include fixed-height(calc($content-width / 4.5));
    overflow: hidden;
    position: relative;

    > img {
      position: relative;
    }
  }

  .fractal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .place {
      font-size: calc($base-font-size * 1.5);
    }
  }

  .smore-logic-grid {
    @extend %raw-grid;

    td {
      > div {
        .sure {
          font-weight: bold;
        }

        .unsure {
          color: mix($background-color, $text-color, 30%);
        }

        .name {
          color: #ca0;
        }
      }
    }
  }

  .word-search-hard {
    color: #c00;
  }

  .word-search-array {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: $spacing-unit;
  }

  .word-search {
    display: flex;
    flex-direction: column;
    align-items: start;

    .extract {
      border: 1px solid #a80;
      background-color: #000;
      font-weight: 900;
    }

    .order {
      font-size: calc($base-font-size * 2);
    }

    .deemph {
      color: mix($background-color, $text-color, 30%);
    }
  }

  .word-search-grid {
    @extend %raw-grid;

    .top { border-top: 1px solid #ca0; }
    .left { border-left: 1px solid #ca0; }
    .bottom { border-bottom: 1px solid #ca0; }
    .right { border-right: 1px solid #ca0; }

    table {
      td {
        @include fixed-width(20px);
        @include fixed-height(20px);

        .arrow {
          position: absolute;
          z-index: 1;
          
          line, polyline {
            stroke: #fff;
            stroke-width: 1;
            fill: none;
          }
        }
      }
    }
  }

  .word-search .r, .words .r { color: #c00; }
  .word-search .y, .words .y { color: #cc0; }
  .word-search .g, .words .g { color: #0c0; }
  .word-search .b, .words .b { color: #08f; }
  .word-search .p, .words .p { color: #a0f; }

  .turtle-code-array {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: $spacing-unit;
  }

  .turtle-code-array.wider {
    gap: calc($spacing-unit * 2);
  }

  .turtle-unknowns {
    margin-bottom: 0px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid $text-color;
    color: $text-color;
    
    tr {
      &:where(:nth-child(even)) {
        background-color: lighten($background-color, 6%);
      }
      border-bottom: 1px solid $text-color;
    }
    td {
      padding: 5px;
      border: none;
      vertical-align: top;

      &:nth-child(1) {
        vertical-align: middle;
        font-family: $code-font-family;
        font-size: calc($base-font-size * 2.5);
      }
    }

    .highlight {
      margin-bottom: 0px;
    }

    td.emph {
      .highlight {
        background-color: #860;
      }
    }
  }

  .turtle-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > div {
      padding: 10px;

      &:nth-child(1), &:nth-child(2) { border-bottom: 1px solid $text-color; }
      &:nth-child(1), &:nth-child(3) { border-right: 1px solid $text-color; }

      h1, h2, h3, h4, h5, h6 { text-align: center; }
    }
  }

  .ripoff-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: $spacing-unit;

    ul {
      list-style: none;
    }

    li {
      margin-bottom: calc($spacing-unit * 0.6);
    }
  }

  .ripoff-extraction {
    font-family: $code-font-family;
    li {
      margin-bottom: calc($spacing-unit * 0.6);
    }
  }

  .multid-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > div {
      padding: calc($spacing-unit / 2);

      &:nth-child(odd) {
        border-right: 1px dashed $text-color;
      }

      &:nth-last-child(n+3) {
        border-bottom: 1px solid $text-color;
      }

      hi {
        background-color: lighten($background-color, 20%);
      }

      ht {
        display: inline;
        color: #ca0;
        font-weight: bold;
      }
    }
  }

  .circuitry-grid {
    table {
      @extend %centered-table;

      td {
        @include grid-entry(24px);

        &.empty {
          border: none;
          background-color: transparent;
        }

        &.cell {
          background-color: white;
          border: 1px solid black;
          &.boolean { background-color: #8f8; }
          &.circuit { background-color: #acf; }
          &.extract { background-color: yellow;}
        }
        color: black;

        > div {
          .corner {
            font-size: 8.5px;
            position: absolute;
            left: 1px;
            text-align: left;
            align-self: flex-start;
          }
          
          .char {
            text-align: center;
            flex: 1;
          }
        }
      }
    }
  }

  .circuitry-clues {
    display: flex;
    flex-direction: row;
    gap: $spacing-unit;

    > div {
      flex: 100%;
    }
  }

  .circuitry-bank {
    column-count: 4;
  }

  .scramble-grid {
    table {
      @extend %centered-table;

      td {
        @include grid-entry(21px);
        @include fixed-height(40px);

        border: 1px solid $text-color;

        > div {
          .number {
            font-size: 12px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            align-self: flex-start;
          }
          
          .char {
            text-align: center;
            align-self: flex-end;
            flex: 1;
          }
        }
      }
    }
  }
}