.game-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacing-unit;

  > div {
    @include fixed-width(250px);
    border: 2px solid $text-color;
    padding: 5px;

    .game-title {
      text-align: center;
      font-size: calc($base-font-size * 1.5);
    }
  }
}

.game-picture-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacing-unit;

  > img {
    max-width: 300px;
    object-fit: contain;
  }
}