[post="Binary Operation Pictures"] {
  fakecanvas {
    display: block;
    @include fixed-width(256px);
    @include fixed-height(256px);
  }
}

[post="Cone You Assign Normals to a Cone?"] {
  fakecanvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include fixed-width(256px);
    @include fixed-height(256px);
  }
}

[post="U.S.-State-Shaped Cookie Cutters"] {
  fakecanvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include fixed-width(300px);
    @include fixed-height(300px);
  }
}