<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {% if page.page-type == "hunt" %}
    {% assign hunt-name = page.title %}
  {% endif %}
  {% if page.page-type == "hunt-puzzle" or page.page-type == "hunt-solution" %}
    {% assign hunt-name = page.hunt %}
  {% endif %}
  <body hunt="{{ hunt-name }}">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
</html>
