---
layout: default
---
<article class="post">

  <div class="puzzle-header">
    <div class="puzzle-back">
      {% assign hunt = site.pages | where_exp: "item", "item.page-type == 'hunt' and item.title == page.hunt" | first %}
      <a href="{{ hunt.url | relative_url }}">{{ page.hunt | escape }}: All puzzles</a>
    </div>
    <div class="puzzle-solution-toggle">
      {% assign sol = site.pages | where_exp: "item", "item.page-type == 'hunt-puzzle' and
        item.title == page.title and item.hunt == page.hunt" | first %}
      <a href="{{ sol.url | relative_url }}">Back to puzzle</a>
    </div>
  </div>

  <header class="post-header">
    <h1 class="post-title puzzle-title">{{ page.title | escape }}</h1>
  </header>

  {% if page.author %}
  <h3 class="puzzle-author">(Author: {{ page.author | escape }})</h3>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>
  
  <div id="answer" style="display: none">{{ page.answer | escape }}</div>

</article>
