---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% if page.japanese-title %} <h2 class="post-subtitle">{{ page.japanese-title | escape }}</h2> {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.comments-id %}
  <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
  <hyvor-talk-comments website-id="11589" page-id="{{ page.comments-id }}"></hyvor-talk-comments>
  {% endif %}

</article>
